.case-study__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.case-study__heading::before{
  content: "CASE STUDY";
}
.case-study__logo{
  margin: 0;
  width: 180px;
}
.case-study__title {
  font-size: 32px;
}
.case-study__title span{
  font-size: 24px;
}
.case-study__copy{
  margin-top: 20px;
  line-height: 1.6;
  font-size: 15px;
}
/* カード */
.case-study__cards{
  margin-top: 80px;
}
.case-study__card {
  position: relative;
  margin-top: 48px;
}

.case-study__tag {
  position: absolute;
  top: -38px;
  left: 0;

  display: inline-block;
  padding: 5px 35px;
  background: #379FAA;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px 5px 0 0;
}

.case-study__card-body {
  border: 3px solid #379FAA;
  border-radius: 0 20px 20px 20px;
  background: #fff;
  overflow: hidden;
}
.case-study__result{
  margin-top: 20px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.8px;
}
.case-study__image{
  display:block;
  margin:20px auto -30px;
  z-index:2;
}
.case-study__text{
  background-color: #379FAA;
  padding-top: 54px;
  padding-bottom: 30px;
  padding-inline: 20px;
  color: #fff;
}
.padding54{
  padding-bottom: 54px;
}