/* 
button
section-title
pc-only
sp-only
共通アニメーション
 */

/* ベース */
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  color: #333;
}
.wrapper{
  width: 100%;
  max-width: 1440px;
  margin-inline: auto; 
}
a {
  color: inherit;
  text-decoration: none;
}
.inner {
  width: 100%;
  max-width: 1080px;
  margin-inline: auto; 
  padding-inline: 20px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-inline: auto;
}
.text-center{
  text-align: center;
}
/* レスポンシブ */
.sp-only{
  display: block;
}
.pc-only{
  display: none;
}
.sp-br{
  display: inline;
}

/* フォント */
.font-ZenMaru {
  font-family: "Zen Maru Gothic", sans-serif;
}

.Robot {
  font-family: "Roboto", sans-serif;
}
.font-15px {
  font-size: 15px;
}

.font-16px {
  font-size: 16px;
}

.font-20px {
  font-size: 20px;
}

.font-24px {
  font-size: 24px;
}

.font-32px {
  font-size: 32px;
}

.font-36px {
  font-size: 36px;
}
.cl-orange {
  color: #fb8b18;
}

.cl-blue {
  color: #379faa;
}
/* セクションタイトル */
.section-heading{
  position: relative;
  margin-top: 60px;
}
.section-heading::before{
  position: absolute;
  top: -38px;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 2px;
  font-size: 48px;
  font-weight: 700;
  color: #E5F4F5;

  white-space: nowrap;

  z-index: -1;
}

/* アンダーライン */
.under-line {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.under-line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.1em;
  width: 100%;
  height: 0.35em;
  background: #FFFF66;
  z-index: -1;
}