.cta__button-orange{
  background-color: #FB8B18;
  color: #fff;
  padding-inline: 18px;
  padding-block: 24px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}
.cta__button-orange::after{
  content: url("../images/common/icon-download.svg");
  margin-left: 16px;
  flex-shrink: 0;
}