.cta__button-orange{
  display: inline-block;
  background-color: #FB8B18;
  color: #fff;
  padding-inline: 18px;
  padding-bottom: 24px;
  padding-top: 18px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}
.cta__button-orange::after{
  content: url("../images/common/icon-download.svg");
  margin-left: 10px;
  flex-shrink: 0;
}
.cta__button{
  font-size: 18px;
}