.header__nav {
  display: none;
}
.header {
  position: relative;
  height: 60px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  z-index: 10;
}
.header__menus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-inline: 20px;
}
.hamburger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}
.hamburger span {
  display: block;
  width: 28px;
  height: 2px;
  background: #000;
  border-radius: 999px;
}
